extends layout

block content
  .container
    .titulo
      .row
        .col.s1
          i.medium.material-icons beach_access
        .col.s9
          h5 Administrador de Navegadores web 
    form(action="/api/Navegadores_web", method='POST').center-align
      .row
        .input-field.col.s4
          input(type="text", name='nombre', placeholder='Nombre')
        .input-field.col.s4
          input(type="text", name='compania', placeholder='Compa単ia')
        .input-field.col.s2
          input(type="date", name='annio', placeholder='A単o')
        .input-field.col.s2
          input.waves-effect.waves-light.btn(type="submit", value='Guardar')
    table
      thead
        tr
          th Id
          th Nombre
          th Compa単ia
          th A単o
      tbody#fila
