body {
  margin: 0px; 
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.titulo{
  background-color: rgb(194, 194, 181);
  padding: 10px;
}

form{
  background-color: rgb(250, 250, 250);
  padding: 20px;
}

thead{
  background-color: #42a5f5;
  border: 1px solid black;
}

thead > tr > th{
  border: 1px solid black;
}
